@media screen and (max-width: 1200px) {
	.page1 nav{display: none;}
	.page1 .icon .head_nav{display: inline-block;}
	.page3,.page5{width:96%;}
	.page3 .iphone,.page3 .content{width:33%;}
	.page5 .pic_list li{width:31%;height:auto;margin: 0 3% 3% 0;float: none;}
	.page1 .anim{width:30%;}
}

@media screen and (max-width: 1024px) {
	.page2 .sect li{height:160px;}
	.page2 .sect li i{font-size:30px;}
	.page2 .sect li span{font-size:14px;}
}

@media screen and (max-width: 780px) {
	.page5 .pic_list li{width:80%;height:auto;margin:0 10% 8% 10%;}
	.page3 .content{width: 94%;float: none;}
	.page3 .iphone{float: none;display: inline-block;margin-top:40px;}
	.page2 .cont{font-size:14px;width:auto;}
	.page2 .sect li{height:160px;width:50%;}
	.page2 .sect li:last-child{background-color:#f2f5f8;}
	.page2 .sect li:nth-child(3){background-color:#edf0f2;}
}

@media screen and (max-width: 680px) {
	.page6 i{font-size:60px;}
	.page6 p{width:60%;font-size:12px;}
	.page6 span{font-size:13px;}
	.page6 em{font-size:12px;}
	.page5 .nav li a{padding:0 3%;}
}